<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Ingresar Consulta</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/624ca736ba.js" crossorigin="anonymous"></script> 

</head>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Paciente Mayor Riesgo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/624ca736ba.js" crossorigin="anonymous"></script> 

</head>
<body class="bg-light text-dark">
<div class="panel panel-info">
<div  class="page-header">
    <h1 style="text-align: center; margin-top: 0.2em; color: red">Paciente Mayor Riesgo</h1>
</div ><a style="margin-left: 5em; " class="btn btn-success btn-sm" th:href="@{/lista}" role="button">Volver Atras</a>
    <h1 style="text-align: center; margin-top: 2em">Ingresar N° H. C. a Consultar</h1>

</div >




    

<div style="text-align: center ; margin-left: 37em; margin-top: 2em"class="input-group">
 
  
      <form th:action="@{/mayor2}" method="get" >
          <input type="number" class="form-control" th:name="mayor" id="nombreEspecialista" placeholder="Ingrese n°H.C:" required="required"/> 
   

<button type="submit" class="btn btn-info">Ingresar</button>
</form>
</div>

        <table   style="table-layout: fixed;width: 60em; margin-left: 15em ; margin-top: 2em "  class="table table-info table-striped table-bordered">
            <thead style="text-align: center">
                <tr>
                    
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Historia Clinica</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Clasificacion</th>
                </tr>
            </thead>
            <tbody>
                 <tr th:each="ninm:${ninmax}">
                    <td style="text-align: center" th:text="${ninm.nombre}"></td>
                    <td style="text-align: center" th:text="${ninm.edad}"></td>
                    <td style="text-align: center" th:text="${ninm.relacionPeso}"></td>
                    <td style="text-align: center"  th:text="${ninm.relacionPeso}"></td>
                    <td style="text-align: center" > Niño</td>
                     
                     <input  th:name="ninmmg" type="hidden" th:value="${ninm.relacionPeso}">
                     <input  th:name="idninm" type="hidden" th:value="${ninm.ids}">
                </tr>
                <tr th:each="jovm:${jovmax}">
                    <td style="text-align: center" th:text="${jovm.nombre}"></td>
                    <td style="text-align: center" th:text="${jovm.edad}"></td>
                    <td style="text-align: center" th:text="${jovm.noHistoriaClinica}"></td>
                    <td style="text-align: center"  th:text="${jovm.gravedad}"></td>
                    <input  th:name="jgravm" type="hidden" th:value="${jovm.gravedad}">
                    <input  th:name="idjovm" type="hidden" th:value="${jovm.id}">
                     <td style="text-align: center" > Adulto</td>
                    
                </tr>
                
                <tr th:each="ancm:${ancmax}">
                    <td style="text-align: center" th:text="${ancm.nombre}"></td>
                    <td style="text-align: center" th:text="${ancm.edad}"></td>
                    <td style="text-align: center" th:text="${ancm.noHistoriaClinica}"></td>
                    <td style="text-align: center"  th:text="${ancm.gravedad}"></td>
                    <td style="text-align: center" > Anciano</td>
                     
                     <input  th:name="agravm" type="hidden" th:value="${ancm.gravedad}">
                     <input  th:name="idancm" type="hidden" th:value="${ancm.id}">
                </tr>
               

            </tbody>
        </table>
    
</body>
</html>