<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Consultas Ocupadas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/624ca736ba.js" crossorigin="anonymous"></script> 

</head>
<div style="text-align: center;" class="container">
<body class="bg-light text-dark">
<div class="panel panel-info">
<div  class="page-header">

<h1 style="text-align: center">Consultas Ocupadas</h1>

</div >


    
    
    <form  th:action="@{/desocupar}" method="get">  
                    <button  style=" margin-top: 2em" type="submit"  class="btn btn-danger btn-lg">Desocupar Todas</button> </form>   <form  th:action="@{/}" method="get">  
           
           
           
                                         <button  style=" margin-top: 2em" type="submit"  class="btn btn-primary btn-lg">Volver a Inicio</button> </form> 

                                         <div class="table-responsive-sm">
                                      
 <table   style=" margin-top: 2em;"  class="table table-info table-striped table-bordered">
            <thead style="text-align: center">
                <tr>
                    
                    <th scope="col">Id de Consulta</th>
                    <th scope="col">Nombre Especialista</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Tipo de Consulta</th>
                    <th scope="col">Desocupar</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="con:${consulta}">
                    <td style="text-align: center" th:text="${con.ids}"></td>
                    <td style="text-align: center" th:text="${con.nombreEspecialista}"></td>
                    <td style="text-align: center" th:text="${con.estado}"></td>
                    <td style="text-align: center" th:text="${con.tipoConsulta}"></td>
                     <td style="text-align: center"> <form  th:action="@{/desocupar1}"  method="get">
                    <input type="hidden" th:value="${con.ids}" th:name="ids" /> 
                    <button type="submit" class="btn btn-info">Desocupar</button></form></td>
                    
                </tr>

            </tbody>
        </table>
    
    </div>

</div>



    
    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</div>
</html>